@font-face 
{
    font-family: "alternateGothic";
    src: "alternateGothic.otf");
}

body > svg 
{
    border: 5px solid #DAEDF2;
}

svg text
{
    font-size: 24px;
    font-family: "alternateGothic";
}