.program-table {
    font-family: Segoe UI, Arial;
    font-size: 14px;
    border-collapse: collapse;
}

.program-table th {
    color: white;
    background-color: lightgray;
}

.program-table th, td {
    border: 1px solid black;
    padding: 2px 5px;
    vertical-align: middle;
}

.program-table .number {
    text-align: center;
}